@model IEnumerable<ClassRegistrations.Models.Student>
@{ Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>@Html.ActionLink("Create New", "Create")</p>
    <table class="table">
        <tr>
            <th>StudentName</th>
            <th>StudentEmail</th>
            <th>StudentLogin</th>
            <th>StudentPassword</th>           
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.StudentName</td>
                <td>@item.StudentEmail</td>
                <td>@item.StudentLogin</td>
                <td>@item.StudentPassword</td>
            </tr>
        }
    </table>
</body>
</html>
